<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CleverTapAccountID</key>
	<string>TEST-Z88-WKZ-956Z
</string>
	<key>CleverTapDisableIDFV</key>
	<true/>
	<key>CleverTapToken</key>
	<string>TEST-130-bb1
</string>
</dict>
</plist>
